.jumbotron {
    background-color: aqua;
    color: black;
    margin-top: 50px;
}

.btn {
    background-color:aqua;
    color:black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 15px;
}

.card-hotel {  
    flex: 1 200px;
    margin-top: 10px;
    

}

.btn-reserva {
     width:100%;
     border-radius: 0px;

}

.footer-address-icon {
    padding-right: 5px;

}
.tab-content {
    padding-top: 10px;

}

