$yellow:#e7f70b;
$aqua:#09ebe3;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color: $aqua;
    color: black;
    @include margenes(50px, 0px)
}

.btn {
    background-color:$aqua;
    color:black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    @include margenes(15px, 0px)   
}

.card-hotel {  
    flex: 1 200px;
    @include margenes(10px, 0px)
}

.btn-reserva {
     width:100%;
     border-radius: 0px;
}

.footer-address-icon {
    padding-right: 5px;
}
.tab-content {
    padding-top: 10px;
}