.jumbotron {
  background-color: #09ebe3;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: #09ebe3;
  color: black;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f2ee07;
  margin-top: 15px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 5px;
}
.tab-content {
  padding-top: 10px;
}
